* {
  margin: 0;
  padding: 0;

}

body{
    background-size: cover;
    background-color: rgb(144, 161, 161);
}


/* barra superior */
.header{
    font-family: 'Montserrat', sans-serif;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}

.header a{
     text-decoration: none;
     color:#ffffff;
     font-size: 25px;
}



.barra {
    display: flex;
    gap: 50px; 
    align-items: center;
}


.b1  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(44, 92, 252);
  color:#000000;
  transition: all 0.3s ;
}


.b2  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(44, 92, 252);
  color:#000000;
  transition: all 0.3s ;
}

.user{
padding: 8px;
border-radius: 30px; /* cantos arredondados */
border:solid 2px;
border-color: rgb(44, 92, 252);
background-color: #000000;
}

.user:hover {
    padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(44, 92, 252);
  transition: all 0.3s ;
}
.user:hover a{
  color:#000000;
}
.user a{
    color:rgb(44, 92, 252) ;
}

.header img{
    width: 30%;
}




.conteudo{
    max-width: 100%;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    height: 400px;
}

.car-card{
    
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}