* {
  margin: 0;
  padding: 0;

}

body{
    background-size: cover;
    background-color: rgb(20, 20, 20);
}



.header{
    font-family: 'Montserrat', sans-serif;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}

.header a{
     text-decoration: none;
     color:#ffffff;
     font-size: 25px;
}



.barra {
    display: flex;
    gap: 50px; 
    align-items: center;
}


.b1  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  color:#000000;
  transition: all 0.3s ;
}


.b2  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  color:#000000;
  transition: all 0.3s ;
}

.user{
padding: 8px;
border-radius: 30px; /* cantos arredondados */
border:solid 2px;
border-color: rgb(250, 216, 64);
background-color: #000000;
}

.user:hover {
    padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  transition: all 0.3s ;
}
.user:hover a{
  color:#000000;
}
.user a{
    color:rgb(250, 216, 64);
}

.header img{
    width: 30%;
}





.coreografias{
    padding: 30px;
    background-color: rgb(3, 3, 3);
    box-shadow: 0 0 20px rgb(255, 194, 27);
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    height: 80vh;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.coreografia{
    margin: 20px;
    margin-top: 15px;
}

.info-coreografia{
    margin-top: 15px;
}

.info-coreografia h3{
    color:rgb(235, 192, 51);
}

.info-coreografia p{
    color: #ffffff;
    font-size: larger;
    margin-top: 15px;
    padding: 25px;
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
}


.imagem-coreografia1 img{
    width: 60%;
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(248, 218, 135);
}
.imagem-coreografia2 img{
    width: 100%;
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(248, 218, 135);
}

.imagem-coreografia3 img{
    width: 100%;
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(248, 218, 135);
}

.imagem-coreografia4 img{
    width: 100%;
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(248, 218, 135);
}

.imagem-coreografia5 img{
    width: 60%;
    border: 3px solid rgb(235, 192, 51);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(248, 218, 135);
}



