* {
  margin: 0;
  padding: 0;

}

body{
    background-size: cover;
    background-color: rgb(227, 227, 236);
}


/* barra superior */
.header{
    font-family: 'Montserrat', sans-serif;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}

.header a{
     text-decoration: none;
     color:#ffffff;
     font-size: 25px;
}



.barra {
    display: flex;
    gap: 50px; 
    align-items: center;
}


.b1  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  color:#000000;
  transition: all 0.3s ;
}


.b2  a:hover {
  padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  color:#000000;
  transition: all 0.3s ;
}

.user{
padding: 8px;
border-radius: 30px; /* cantos arredondados */
border:solid 2px;
border-color: rgb(250, 216, 64);
background-color: #000000;
}

.user:hover {
    padding: 8px;
  border-radius: 30px; /* cantos arredondados */
  background: #ffffff; /* cor de fundo */
  box-shadow: 0 0 40px rgb(250, 216, 64);
  transition: all 0.3s ;
}
.user:hover a{
  color:#000000;
}
.user a{
    color:rgb(250, 216, 64);
}

.header img{
    width: 30%;
}


.album{
    padding: 30px;
    background-color: rgba(168, 175, 192, 0.6);
    box-shadow: 0 0 50px rgb(201, 186, 120);
    border: 3px solid white;
    border-radius: 20px;
    height: 200px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 300px;
}

.imagem-album{
    display: flex;
    justify-content: left;
    width: 35%;
}
.imagem-album img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}


.info-album{
 display: flex;
 flex-direction: column;
}
.info-album h3{
    font-size: 28px;
    margin-bottom: 10px;
}.info-album p{
    font-size: 18px;
}

