* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header{
    font-family: 'Montserrat', sans-serif;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}

.header a{
     text-decoration: none;
     color:#ffffff;
     font-size: 25px;
}



.barra {
    display: flex;
    gap: 50px; 
    align-items: center;
}





.b1  a:hover {
  padding: 8px;
  border-radius: 30px; 
  background: #ffffff; 
  box-shadow: 0 0 40px #ffffff;
  color:#000000;
  transition: all 0.3s ease;
}


.b2  a:hover {
  padding: 8px;
  border-radius: 30px; 
  background: #ffffff; 
  box-shadow: 0 0 40px #ffffff;
  color:#000000;
  transition: all 0.3s ease;
}


.user{
padding: 8px;
border-radius: 30px; 
border:solid 2px;
border-color: rgb(250, 216, 64);
background-color: #000000;
}

.user:hover {
    padding: 8px;
  border-radius: 30px; 
  background: #ffffff;
  box-shadow: 0 0 40px rgb(250, 216, 64);
  transition: all 0.3s ;
}
.user:hover a{
  color:#000000;
}
.user a{
    color:rgb(250, 216, 64);
}


.logo img {
     width: 30%;
}



.footer{
    width: 100%;
    background-color: #0c0d0f;
    color: white;
    padding: 40px 0 15px;
    border-top: 2px solid rgb(250, 216, 64);
}

.footer-container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.divisao{
    flex: 1;
    min-width: 220px;
}

.divisao h3{
    margin-bottom: 15px;
    color:#D4AF37;
}

.divisao p{
    margin: 8px 0;
}

.divisao a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.divisao a:hover{
    color: rgb(44, 92, 252);
}

.footer-direitos{
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(255, 208, 0, 0);
    padding-top: 15px;
    font-size: 14px;
}





.home{
    min-height: 100vh;
     height: 600px;
     width: 100%;
     position: relative;
     background-position: center;
     overflow: hidden;
     background-image:
    linear-gradient( to right,rgba(0,0,9,9.9), rgba(0,0,0,0.0)),
    url("../assets/img/fundoHome.png") ;
    background-size: cover;      
    background-position: center;  
     background-size: cover; 
     display: flex;
}


.conteudo{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10%;
  flex: 1;
  flex-direction: column;
  margin-left: 10%;
}

.conteudo h1, 
.conteudo p {
  font-family: 'Playfair Display', serif;
  color: #fff;
  margin-bottom:32px;
  text-align: left;
}

.conteudo h1 span{
  color: #D4AF37;
}



.boxLinha {
    display: flex; 
    align-items: center; 
    gap: 16px; 
    margin-bottom: 20px;
  }
  .boxLinha .linha { 
    height: 4px; 
    width: 60px; 
    background: #D4AF37; }
  .boxLinha span {
    font-size: 15px;
    letter-spacing: 4px;
    color: #D4AF37; 
    text-transform: uppercase;
  }

.informacao{
  color: #ffffff;
  font-size: 20px; line-height: 1.8; 
  max-width: 480px;
  margin-bottom: 48px;
  font-weight: 300;
  letter-spacing: 0.5px;

}

.titulo{
font-family: 'Montserrat', sans-serif;
     font-weight: 900;
     font-size: 100px;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #ffffff;
}


.quizBox{
  display: flex;
  flex-wrap: wrap; 
  padding: 40px;
  background-image:
  linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
  url("../assets/img/fundoBloco.png") ;
  background-size: cover;       
  background-position: center;  
  margin-top: 3px;
  height: 100%;
}

.conteudoQuiz1{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.conteudoQuiz1 .titulo{
  font-family: 'Playfair Display', serif;
  color:#D4AF37;
}

.conteudoQuiz2{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}
.conteudoQuiz2 p{
  color: white;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
}
.botaoquiz{
    display: flex;
    padding: 10px 20px;
    background-color:#D4AF37;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    width: 80px;
    align-items: center;
    justify-content: center;
}
.botaoquiz:hover{
    transform: scale(1.05);
}


.quizBox {
    border-top: 15px solid rgb(250, 216, 64);
    margin-top: 20px;
}




.sobre{
  display: flex;
  flex-wrap: wrap; 
  padding: 40px;
  background-image:
  linear-gradient( rgba(0,0,0,0.89), rgba(0,0,0,0.89)),
  url("../assets/img/fundoBloco.png") ;
  background-size: cover;       
  background-position: center;
  margin-top: 3px;
}


.titulo1{
  width: 100%;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  color:#D4AF37;
  display: inline-block;
  padding-left: 18%;
}

.titulo1 h2{
  font-family: 'Playfair Display', serif;
}

.conteudo1 {
  width: 45%;
   display: flex;
  flex-direction: column;
  justify-content: center; 
 
  margin-left: 60px;
}

.conteudo1 p {
  font-size: 25px;
  line-height: 1.6;

  font-family: 'Poppins', sans-serif; 
  color: #ffffff;
}


.box-img1 {
  width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

/* container que vai deslizar */
.slider {
  display: flex;
  width: 200%; /* 2 imagens */
  height: 85%;
  animation: slide 6s infinite;
}

/* suas imagens */
.slider img {
 width: 100%;
  flex: 0 0 100%;
  height: auto;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  45%  { transform: translateX(0); }

  50%  { transform: translateX(-100%); }
  95%  { transform: translateX(-100%); }

  100% { transform: translateX(0); }
}

.botao1 a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#D4AF37;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    justify-content: flex-end;
}

.botao1 a:hover {
    transform: scale(1.05);
}








.carreira{
  display: flex;
  flex-wrap: wrap; 
  padding: 40px;
  background-image:
  linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2)),
  url("../assets/img/fundoBloco.png") ;
  background-size: cover;       
  background-position: center;  
  margin-top: 3px;
}


.titulo2 {
  width: 100%;
  margin-bottom: 20px;
   font-size: 50px;
  color:#D4AF37;
    display: flex;
    justify-content: right;
    padding-right: 15%;
}
.titulo2 h2{
  font-family: 'Playfair Display', serif;
}


.conteudo2 {
  width: 50%;
   display: flex;
  flex-direction: column;
  justify-content: center; 
}

.conteudo2 p {
  font-size: 25px; 
  line-height: 1.6;

  font-family: 'Poppins', sans-serif; 
  color: #ffffff;
}


.box-img2 {
  width: 46%;
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
}

.box-img2 img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 40px #ffffff
}

.botao2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#D4AF37;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.botao2 a:hover {
    transform: scale(1.05);
}







.discografia{
  display: flex;
  flex-wrap: wrap; 
  padding: 40px;
  background-image:
  linear-gradient( rgba(0,0,0,0.89), rgba(0,0,0,0.89)),
  url("../assets/img/fundoBloco.png") ;
  background-size: cover;       
  background-position: center; 
  margin-top: 3px;
}


.titulo3 {
  width: 100%;
  margin-bottom: 20px;
   font-size: 50px;
    color:#D4AF37;
    display: inline-block;
}

.titulo3 h2{
  font-family: 'Playfair Display', serif;
}


.conteudo3 {
  width: 45%;
   display: flex;
  flex-direction: column;
  justify-content: center; 
 
  margin-left: 60px;
}

.conteudo3 p {
  font-size: 25px; 
  line-height: 1.6;

  font-family: 'Poppins', sans-serif; 
  color: #ffffff;
}


.box-img3 {
  width: 50%;
  display: flex;
  
}

.box-img3 img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 40px #ffffff
}

.botao3 a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#D4AF37;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    justify-content: flex-end;
}

.botao3 a:hover {
    transform: scale(1.05);
}




.coreografia {
  padding: 10%;
  background-image:
  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)),
  url("../assets/img/fundoBloco.png") ;
  background-size: cover;      
  background-position: center;  
  margin-top: 3px;
}

.box-geral{
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(200px);
  border-radius: 30px;
  border: 2px solid #ffffff;
  box-shadow:  0 0 60px #ffffff;
}

.box-img4{
display: flex;
justify-content: center;
}

.box-img4 img{
width: 20%;
margin: 20px;
border-radius: 20px;
}

.titulo4{
  display: flex;
  justify-content: center;
  color:#D4AF37;
  font-size: 200%;
}

.titulo4 h2{
  font-family: 'Playfair Display', serif;
}

.conteudo4{
  font-size: 150%;
  color: #ffffff;
}

.conteudo4 p{
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.botao4{
   margin: 30px auto;
  padding: 10px;
  background-color:#D4AF37;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
}

.botao4:hover{
  transform: scale(1.05);
}

.botao4 a{
  text-decoration: none;
  color: #ffffff;
}
